<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test name="Test">
  	  <parameter name="browser" value="firefox"/>
  	  <parameter name="environment" value="TestEnv"/>
      <classes>
      <class name="com.cms.TestScripts.VerifyNewPost"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
